.App {
  text-align: center;
}

.nav{
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}  

.list{
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}